<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>Predict Moment</h1>
        <form method="POST" action="/">
            {{ form.hidden_tag() }}
            {{ form.text.label }} {{ form.text(size=32) }}
            {{ form.submit() }}
        </form>
    </div>
</body>
</html>

